<div class="caja">
    <h1> {{ "Encuentranos.Donde" | translate }} </h1>
    <div class="info"><p><b>{{ "Encuentranos.Direccion" | translate }} </b>{{ "Encuentranos.Calle" | translate }}</p>
    <p><b>{{ "Encuentranos.Telf" | translate }} </b>{{ "Encuentranos.Numero" | translate }}</p></div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.4418396525393!2d-3.66165848459989!3d40.55391907934947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8bdbb7827da81ee8!2sLa%20otra%20dimension!5e0!3m2!1ses!2ses!4v1626626859888!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>