<div class="redes">
<a href="https://www.instagram.com/laotradimension_es/" class="card bg-dark text-white" target="_blank">
    <img src="../../../assets/images/insta.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3 class="card-title">
        <i class="fab fa-instagram"></i>
        Instagram
      </h3>
      <h5 class="card-text">{{'Redes.Instagram.Titulo' | translate}}</h5>
      <p class="card-text">{{'Redes.Instagram.Cuerpo' | translate}}</p>
    </div>
  </a>
  <a href="https://twitter.com/OtraDimensionES" class="card bg-dark text-white" target="_blank" >
    <img src="../../../assets/images/twitter.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3 class="card-title">
        <i class="fab fa-twitter"></i>
        Twitter
    </h3>
      <h5 class="card-text">{{'Redes.Twitter.Titulo' | translate}}</h5>
      <p class="card-text">{{'Redes.Twitter.Cuerpo' | translate}}</p>
    </div>
  </a>
  <a class="card bg-dark text-white" href="https://www.facebook.com/La-Otra-Dimension-100530952327979" target="_blank">
    
    <img src="../../../assets/images/facebook.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3 class="card-title">
        <i class="fab fa-facebook-square"></i>
        Facebook
    </h3>
      <h5 class="card-text">{{'Redes.Facebook.Titulo' | translate}}</h5>
      <p class="card-text">{{'Redes.Facebook.Cuerpo' | translate}}</p>
    </div>
</a>
</div>