<div class="container cajita">
  <div class="cajita-arriba">
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salakaraoke.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title"> {{ "Salas.Karaoke.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.Karaoke.Descripcion" | translate }}
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salamesa.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ "Salas.Mesa.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.Mesa.Descripcion" | translate }}
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salagaming.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ "Salas.Gaming.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.Gaming.Descripcion" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="cajita-abajo">
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salaplay.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ "Salas.PlayStation.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.PlayStation.Descripcion" | translate }}
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salaswitch.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ "Salas.Switch.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.Switch.Descripcion" | translate }}
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../../../assets/images/salaxbox.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ "Salas.Xbox.Titulo" | translate }}</h5>
        <p class="card-text">
            {{ "Salas.Xbox.Descripcion" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
