<mat-tab-group color="accent" animationDuration="0ms">
  <mat-tab label="{{ 'Reservas.Sala.Salas' | translate }}">
    <div class="container mt-5">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let reserva of reservaSalas"
      >
        <div class="card-body">
          <p class="align-self-center">
            <b>{{ "Reservas.Sala.Sala" | translate }}:</b> {{ reserva.sala }}
          </p>
          <p class="align-self-center">
            <b>{{ "Reservas.Sala.Fecha" | translate }}:</b> {{ reserva.fecha }}
          </p>
          <p class="align-self-center">
            <b>{{ "Reservas.Sala.Hora" | translate }}:</b>
            {{ reserva.hora }}:00h
          </p>
          <button
            mat-raised-button
            class="boton"
            color="primary"
            (click)="deleteReservaSala(reserva)"
          >
            {{ "Reservas.Sala.Borrar" | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'Reservas.Mesa.Mesas' | translate }}">
    <div class="container mt-5">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let reserva of reservaMesa"
      >
        <div class="card-body">
          <p class="align-self-center">
            {{ "Reservas.Mesa.Para" | translate }} {{ reserva.comensales }}
            {{ "Reservas.Mesa.Personas" | translate }}
          </p>
          <p class="align-self-center">
            <b>{{ "Reservas.Mesa.Fecha" | translate }}:</b> {{ reserva.fecha }}
          </p>
          <p class="align-self-center">
            <b>{{ "Reservas.Mesa.Hora" | translate }}:</b>
            {{ reserva.hora }}:00h
          </p>

          <button
            mat-raised-button
            class="boton"
            color="accent"
            (click)="deleteReservaMesa(reserva)"
          >
            {{ "Reservas.Mesa.Borrar" | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
