<div class="contenedor">
  <div class="col-sm-6 col-xl-3 col-lg-4 col-md-5 mt-5">
    <div class="card">
      <img
        src="../../../assets/images/gamersalas.png"
        class="card-img-top"
        alt="reservarsala"
      />
      <div class="card-body">
        <button
          mat-raised-button
          color="primary"
          class="boton"
          [routerLink]="'/book-a-room'"
        >
          {{ "Reservas.Sala.Reserva" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-lg-4 col-md-5 mt-5">
    <div class="card">
      <img
        src="../../../assets/images/mesasinfondo.png"
        class="card-img-top"
        alt="reservarmesa"
      />
      <div class="card-body">
        <button
          mat-raised-button
          color="accent"
          class="boton"
          [routerLink]="'/book-a-table'"
        >
          {{ "Reservas.Mesa.Reserva" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
