<div class="cabecera">
  <h1>{{ "Taberna.Titulo" | translate }}</h1>
</div>

<mat-tab-group color="accent" animationDuration="0ms">
  <mat-tab label="{{ 'Taberna.Menus' | translate }}">
    <div class="contenedor">
      <div class="card" style="width: 20rem">
        <img
          src="../../../../assets/images/Carta imagenes/menus/3ded7b35411633e6536832bd49c22480-hamburguesa-papas-fritas-amor.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ "Taberna.Menu.Hamburguesa.Titulo" | translate }}</h5>
          <p class="card-text">
            {{ "Taberna.Menu.Hamburguesa.Descripcion" | translate }}
          </p>
        </div>
      </div>
      <div class="card" style="width: 20rem">
        <img
          src="../../../../assets/images/Carta imagenes/menus/pngarea.com_kawaii-png-imagenes-5376957.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ "Taberna.Menu.Pizza.Titulo" | translate }}</h5>
          <p class="card-text">
            {{ "Taberna.Menu.Pizza.Descripcion" | translate }}
          </p>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'Taberna.Raciones' | translate }}">
    <div class="contenedor">
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/raciones/patatas.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.RacionPatatas" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/raciones/786971.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.RacionAritos" | translate }}</h5>
          </div>
        </div>
      </div>
    </mat-tab>
  <mat-tab label="{{ 'Taberna.Ensaladas' | translate }}">
    <div class="contenedor">
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/ensaladas/877717.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"> {{ "Taberna.Ensalada.EnsaladaCesar.Titulo" | translate }}</h5>
            <p class="card-text">
                {{ "Taberna.Ensalada.EnsaladaCesar.Descripcion" | translate }}
            </p>
          </div>
        </div>
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/ensaladas/2255683.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Ensalada.EnsaladaDimension.Titulo" | translate }}</h5>
            <p class="card-text">
                {{ "Taberna.Ensalada.EnsaladaDimension.Descripcion" | translate }}
            </p>
          </div>
        </div>
      </div>  
    </mat-tab>
  <mat-tab label="{{ 'Taberna.Comidas' | translate }}"> 
    <div class="contenedor">
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/comida/fajitas.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Comida.Fajitas" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/comida/hamburguesa.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Comida.Hamburguesa" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
            <img
              src="../../../../assets/images/Carta imagenes/comida/noodles.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ "Taberna.Comida.Ramen" | translate }}</h5>
            </div>
          </div>
          <div class="card" style="width: 20rem">
            <img
              src="../../../../assets/images/Carta imagenes/comida/pizza.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ "Taberna.Comida.Pizza" | translate }}</h5>
            </div>
          </div>
      </div>
    </mat-tab>
  <mat-tab label="{{ 'Taberna.Bebidas' | translate }}"> 
    <div class="contenedor">
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/bebidas/Refresco.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Bebida.Refresco" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/bebidas/te.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Bebida.Te" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
            <img
              src="../../../../assets/images/Carta imagenes/bebidas/5b05a7ec4a758f1c2c2876754b737da3.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ "Taberna.Bebida.Monster" | translate }}</h5>
            </div>
          </div>
          <div class="card" style="width: 20rem">
            <img
              src="../../../../assets/images/Carta imagenes/bebidas/batido.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ "Taberna.Bebida.Batido" | translate }}</h5>
            </div>
          </div>
      </div>
  </mat-tab>
  <mat-tab label="{{ 'Taberna.Postres' | translate }}">
    <div class="contenedor">
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/postres/cake.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Postre.Cake" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
          <img
            src="../../../../assets/images/Carta imagenes/postres/tortitas.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ "Taberna.Postre.Tortitas" | translate }}</h5>
          </div>
        </div>
        <div class="card" style="width: 20rem">
            <img
              src="../../../../assets/images/Carta imagenes/postres/flan.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ "Taberna.Postre.Flan" | translate }}</h5>
            </div>
          </div>
      </div>
    </mat-tab>
</mat-tab-group>
